@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  border: 10px solid black;
  background: black;
  border-radius: 5px;
  width: 256px;
}

input[type="text"] {
  height: 75px;
  width: 232.3px;
  background-color: rgb(250, 171, 23);
  border: 0px;
  color: white;
  border-radius: 12px;
  margin-bottom: 15px;
  margin-top: 5px;
  text-align: right;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}

#clear {
  color: #262834;
}

#result {
  color: #263834;
}

#backspace {
  color: #263834;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input:focus,
input:active,
button:active {
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196f3; */
  /* padding: 10px; */
  grid-gap: 4px;
}
.grid-item {
  background-color: rgb(241, 241, 241);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;

  border-radius: 12px;
  font-size: 18px;
  text-align: center;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
